In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("exercicios_modulo4.db") 

print(conn)

<sqlite3.Connection object at 0x000001F6DFDE7990>

In [3]:
cursor = conn.cursor()

### Exercício 1

In [4]:
cursor.execute("CREATE TABLE dados_cadastrais (id integer, nome text, sobrenome text, data_nasci date, endereco text)")

In [19]:
cursor.execute("CREATE TABLE dados_profissionais (id integer, graduacao text, cargo text, salario decimal, tempo_casa integer)")

In [7]:
cursor.execute("INSERT INTO dados_cadastrais VALUES(1, 'Maria', 'Silva', 'Rua 1 - SP',11111211313)") 
cursor.execute("INSERT INTO dados_cadastrais VALUES(2, 'João', 'Silva', 'Rua 2 - SP',11111211889)") 
cursor.execute("INSERT INTO dados_cadastrais VALUES(3, 'Pedro', 'Pereira', 'Rua 8 - SP',11111211786)")
cursor.execute("INSERT INTO dados_cadastrais VALUES(4, 'Paulo', 'Ribeiro', 'Rua 9 - SP',11111211123)") 
conn.commit()

In [8]:
cursor.execute("SELECT * FROM dados_cadastrais ")
cursor.fetchall()

[(1, 'Maria', 'Silva', 'Rua 1 - SP', '11111211313'),
 (2, 'João', 'Silva', 'Rua 2 - SP', '11111211889'),
 (3, 'Pedro', 'Pereira', 'Rua 8 - SP', '11111211786'),
 (4, 'Paulo', 'Ribeiro', 'Rua 9 - SP', '11111211123')]

In [20]:
cursor.execute("INSERT INTO dados_profissionais VALUES(1, 'Matemática', 'Professor', 3500.89,3)") 
cursor.execute("INSERT INTO dados_profissionais VALUES(2, 'Geografia', 'Orientador', 2850.8,1)") 
cursor.execute("INSERT INTO dados_profissionais VALUES(3, 'História', 'Orientador', 3200.45,1)")
cursor.execute("INSERT INTO dados_profissionais VALUES(4, 'Física', 'Professor', 1890.33,2)") 
conn.commit()

In [21]:
cursor.execute("SELECT * FROM dados_profissionais ")
cursor.fetchall()

[(1, 'Matemática', 'Professor', 3500.89, 3),
 (2, 'Geografia', 'Orientador', 2850.8, 1),
 (3, 'História', 'Orientador', 3200.45, 1),
 (4, 'Física', 'Professor', 1890.33, 2)]

### Exercício 2

In [28]:
cursor.execute("SELECT * FROM dados_profissionais ORDER BY tempo_casa DESC")
cursor.fetchall()

[(1, 'Matemática', 'Professor', 3500.89, 3),
 (4, 'Física', 'Professor', 1890.33, 2),
 (2, 'Geografia', 'Orientador', 2850.8, 1),
 (3, 'História', 'Orientador', 3200.45, 1)]

### Exercício 3

In [29]:
cursor.execute("SELECT COUNT(id) FROM dados_cadastrais")
cursor.fetchall()

[(4,)]

### Exercício 4

In [44]:
cursor.execute("SELECT * FROM dados_cadastrais WHERE sobrenome == 'Silva' ORDER BY nome,sobrenome ASC")
cursor.fetchall()

[(2, 'João', 'Silva', 'Rua 2 - SP', '11111211889'),
 (1, 'Maria', 'Silva', 'Rua 1 - SP', '11111211313')]

### Exercício 5

In [48]:
cursor.execute("SELECT ROUND(SUM(salario),2) AS folha_pagamento_cargo,cargo FROM dados_profissionais GROUP BY cargo")
cursor.fetchall()

[(6051.25, 'Orientador'), (5391.22, 'Professor')]